@import "Styles/Normalize/Normalize.module";
@import "Styles/Fonts/Fonts.module";
@import "Styles/Vars/Vars.module";

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: $text-color-main;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
